<div class = "ui headder container spacy_space">
  <h1 class = "left_space">Select an Artist To View Details</h1>
</div>

<div class="spacy_space">
    <div class="ui four cards olive">
      <% @artists.each do |artist| %>
        <div class = "ui card">
          <div class="content centered" >
            <img id="avatar_image" src="https://robohash.org/<%= artist.name %>?set=set4" />
            <br>
            <%= link_to artist.name, artist%>
          </div>
        </div>
      <% end %>
    </div>
</div>

<a class = "ui button blue" href="/artists/new">Add a New Artist</a>


<!-- <a href="/artists/id"></a> -->
