<div class = "spacy_space container">
  <h1>Select an Artist To View Details</h1>
  <hr />
</div>


<div>
  <ul class = "ui links">

    <% @artists.each do |artist| %>
    <div clas = "cards">
      <li class = "no_dots card"><%= link_to artist.name, artist %></li>
    <% end %>
    </div>
  </ul>
</div>

<hr />

<a class = "ui button blue" href="/artists/new">Add a new artist</a>
