@import "semantic-ui";
@import "songs";
@import "flash";
@import "artists";
@import "billboards";
#avatar_image{
  height: 200px;
}
a {
  text-decoration: none;
  color: black;
  }

.centered {
  align-items: center;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.headder {
  color: white;
  font-size: 20px;
  background-color:  #2185D0;
  border-radius: 5px;
}

h1 {
  align-items: center;
}

li {
  font-size: 20px;
  line-height: 26px;
}

.larger_font {
  font-size: 20px;
  line-height: 26px;
}

#back_color {
  background-color: rgb(250, 244, 158);
}

.text {
  text-decoration: none;

}
.no_dots {
  list-style-type: none;
  /*Shandelle hates those dots, but lists are so useful for formatting*/
}
.spacy_space{
  margin: 10px 0;
  padding: 10px 0;
}

.content {
  color: yellow;
  font-size: 2em;
}

.left_space{
  margin-left: 2em;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
