<h1><%= @billboard.name %></h1>
<hr>
<h3> What Would You Like To Do </h3>
<br>
<%= link_to 'Edit Billboard', edit_billboard_path %>
<br>
<%= link_to 'Delete Billboard', @billboard, method: :delete %>
